body {
    background-image: url(images/background.png)
}

#home 
{
    
background-image: url(images/sumner-mahaffey-7Y0NshQLohk-unsplash.jpg);
background-size: cover;
 text-shadow: 1px 2px 5px grey;   
    
}

.innerdiv {
    border: 2px solid white;
    background-color: black;
    
}
#wrapper {
    display: flex;
    justify-content:flex-end;
}

body {
   background-color: #170a4e;
    font-size: 20px;
}

.about {
    text-align: left;
      background-color: yellow;
     width: 300px;
    border: 5px solid black;
     color:black;
    font-family: verdana;
   
    
  
}

h1, h2, h3 {
  
}


h1, h2 
{
    text-align: center;
    padding-top: 20px;
}

.video 
{
    text-align: right;
    color: white;
    
}
.videoabout
{
    display: flex;
    justify-content: space-between;
    
}

.videohobbies
{
    display: flex;
    justify-content: space-between;
}
.Hobbies
{
   text-align: right;
    font-family: verdana;
     background-color: yellow;
 width: 25%;
     float: right;
    border: 5px solid black;
}
       

.video2{
    color: white
}

h1
{
  font-family: fantasy; 
    
}

h2
{
    
    font-family: cursive;
}



 
.nav
{
   font-size: 30px; 
   font-family: arial;
  
    background-color: black;
    height: 40px;
   border-width: 2px solid white;
    position: fixed;

        
    
    
}

.future {
    color: darkgrey;
    text-align: center;
    display: block;
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    border-radius: 35px;
    background-color:rgb(68, 36, 204);
    font-family: monospace;
    font-size: 1.2em;
}

  a {
    color: red;
    text-decoration: none;
}

ul, footer, .toplink, .languages
{
    text-align: center;
   
}

footer {
    color: white;
}
.languages {
    background-color: aqua;
    display: inline-block;
    border: 5px solid black;
    color: black;
}
