body {
   background-color: greenyellow;
    font-size: 20px;
}

.about {
    text-align: left;
     background-image: url(images/cat.jpg); 
     width: 300px;
     color: white;
    font-family: verdana;
  
}

h1, h2, .nav, h3 {
    color:
    #e64327;
    background-color: #4deb94;
}


h1, h2, .nav
{
    text-align: center;
    
}

.video 
{
    text-align: center;
}

.Hobbies
{
    text-align: right;
    font-family: verdana;
}

h1
{
  font-family: fantasy; 
    
}

h2
{
    
    font-family: cursive;
}

.nav
{
   font-family: arial; 
    
}

ul, footer, .toplink, .languages
{
    text-align: center;
}